/*
!.gitignore
!.bashrc
!.inputrc
!.vimrc
!backup.bat
!backup.sh
!restore_backup.sh
!README.md
!LICENSE

!.config/
.config/*
!.config/hypr/
!.config/kitty/
!.config/nvim/
!.config/waybar/
!.config/wofi/
